name: Makefile CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
    
      - name: Install dependancies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake pkg-config \
            libx11-dev libxext-dev libwayland-dev libxkbcommon-dev \
            libegl1-mesa-dev libibus-1.0-dev
    
      - name: Install SDL3
        run: |
          cd /tmp
          git clone --depth 1 https://github.com/libsdl-org/SDL.git SDL3
          cd SDL3
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release
          make -j$(nproc)
          sudo make install
          sudo ldconfig
    
      - name: Test with make
        run: make
